* {box-sizing: border-box}

body {
  width: 50vw;
  margin: 0 auto;
}

.t {text-align: center;}

.container {
  border:1px solid #ccc;
  padding: 16px;
}

.content{text-align: center;}
.function{text-align: center;}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #4CAF50;
}

.cancelbtn{
  float: left;
  width: 50%;
}

.clearfix{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.viewbtn{
  float: left;
  width: 50%;
}